# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.env

# Node
node_modules
npm-debug.log

# IDE
.vscode
.idea

# Project specific
logs/*
data/*
*.db

# FreqTrade specific
freqtrade.log
tradesv3.sqlite
*.sqlite
user_data/logs/*